body {
    font-family: sans-serif;
    color: white;
    background: #000238;
    min-height: 100vh;
}
.bg-colorfull-100 {
    background: linear-gradient(#000238, #000238, #370035, #370035);
    background-size: 100% 250%;
    animation: 10s infinite bggradient;
}
.bg-js-color {
    /* background: linear-gradient(#877e00, #00142c, #00142c, #00142c, #00142c); */
    background: linear-gradient(#877e00, #00142c 200px, #00142c 200px);
}
.bg-react-color {
    background: linear-gradient(#008f9f, #00142c 200px, #00142c 200px);
}
.bg-laravel-color {
    background: linear-gradient(#af5757, #00142c 200px, #00142c 200px);
}
.bg-php-color {
    background: linear-gradient(#8c49cc, #00142c 200px, #00142c 200px);
}
.bg-next-color {
    background: linear-gradient(#676767, #171717, #00142c 200px, #00142c 200px);
}
.bg-python-color {
    background: linear-gradient(#604a00, #00114f, #00142c 200px, #00142c 200px);
}
.bg-django-color {
    background: linear-gradient(#00320d, #00142c 200px, #00142c 200px);
}
.bg-typescript-color {
    background: linear-gradient(#0a3d89, #00142c 200px, #00142c 200px);
}
.bg-1 {
    background: #877e00;
}
.bg-2 {
    background: #006a87;
}
.bg-3 {
    background: rgb(164, 65, 65);
}
.bg-4 {
    background: rgb(79, 48, 94);
}
.bg-5 {
    background: linear-gradient(to right, #4e4e4e, #151515);
}
.bg-6 {
    background: linear-gradient(to right, #846500, #001767);
}
.bg-7 {
    background: rgb(1, 59, 13);
}
.bg-8 {
    background: rgb(1, 50, 119);
}
.text-limit {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@keyframes bggradient {
    0% {
        background-position: 0 0%;
    }

    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
@keyframes bgtitlegradient {
    0% {
        background-position: 0 0%;
    }

    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
@keyframes bgknightgradient {
    0% {
        background-position: 0 0%;
    }

    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.maze--title {
    font-family: "Russo One", sans-serif;
}
.maze--title--gra {
    background: -webkit-linear-gradient(0deg, #003f88, #00a6b2);
    background-size: 280%;
    animation: 7s infinite bgtitlegradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maze--knight--gra {
    background: -webkit-linear-gradient(0deg, #7f2c2c, #797500);
    background-size: 280%;
    animation: 15s infinite bgknightgradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maze--herald--gra {
    background: -webkit-linear-gradient(0deg, #138c0a, #10558e);
    background-size: 280%;
    animation: 15s infinite bgknightgradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.maze--sovereign--gra {
    background: -webkit-linear-gradient(
        0deg,
        #16bf0a,
        #0c8304,
        #1e87dc,
        #0f43bd,
        #a653ff,
        #ffc800,
        #c20404,
        #c20404,
        #c20404
    );
    background-size: 300%;
    animation: 12s infinite bgknightgradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-colorfull-200 {
    background: linear-gradient(#001432, #002f32);
}
.bg-colorfull-300 {
    background: linear-gradient(#002d62, #00686f);
}
.bg-allquiz {
    background: linear-gradient(to right, #000238, #000238, #370035, #370035);
}
.bg-profile {
    background: linear-gradient(to right, #151515, #151515, #151515);
}
.bg-c-none {
    background-color: rgba(0, 0, 0, 0) !important;
}
.maze--line {
    width: 500px;
    height: 8px;
    background: white;
    margin-top: 40px;
}
.line01 {
    background: #575757;
    position: relative;
    animation: 10s infinite move--line01;
}
@keyframes move--line01 {
    0% {
        left: -500px;
        /* transform:translateX(-500px); */
    }
    20% {
        left: 300px;
    }
    40% {
        left: 800px;
    }
    70% {
        left: 800px;
        opacity: 1;
    }
    71% {
        opacity: 0;
    }
    100% {
        left: -500px;
        opacity: 0;
    }
}
.line02 {
    background: #7b7b7b;
    position: relative;
    left: 300px;
    animation: 10s infinite move--line02;
}
@keyframes move--line02 {
    0% {
        left: -500px;
        /* transform:translateX(-500px); */
    }
    30% {
        left: 100px;
    }
    50% {
        left: 800px;
    }
    80% {
        left: 800px;
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        left: -500px;
        opacity: 0;
    }
}
.line03 {
    background: #8f8f8f;
    position: relative;
    left: 100px;
    animation: 10s infinite move--line03;
}
@keyframes move--line03 {
    0% {
        left: -600px;
        /* transform:translateX(-500px); */
    }
    35% {
        left: 100px;
    }
    53% {
        left: 800px;
        opacity: 1;
    }
    54% {
        opacity: 0;
    }
    100% {
        left: -500px;
        opacity: 0;
    }
}
.line04 {
    background: #a5a5a5;
    position: relative;
    /* left:200px; */
    animation: 10s infinite move--line04;
}
@keyframes move--line04 {
    0% {
        left: -200px;
        /* transform:translateX(-500px); */
    }
    30% {
        left: 200px;
    }
    50% {
        left: 800px;
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    80% {
        left: -500px;
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
    100% {
        left: -200px;
    }
}
.line05 {
    background: rgb(186, 186, 186);
    position: relative;
    /* left:50px; */
    animation: 10s infinite move--line05;
}
@keyframes move--line05 {
    0% {
        left: 100px;
        /* transform:translateX(-500px); */
    }
    30% {
        left: 500px;
    }
    60% {
        left: 800px;
        opacity: 1;
    }
    61% {
        opacity: 0;
    }
    80% {
        left: -500px;
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
    100% {
        left: 100px;
    }
}
.auth--text {
    text-shadow: 0 0 50px rgba(204, 204, 204, 0.5);
}
.auth--text-2 {
    text-shadow: 0 0 18px rgba(204, 204, 204, 0.5);
}
.auth--card {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.profile--card {
    box-shadow: 0 0 10px rgba(72, 72, 72, 0.1);
}
.bg-profile-card {
    background: rgb(15, 15, 15);
}
